:root {
  --color-goldenrod: gold;
  --color-highlight: rgba(205, 230, 236, 0.715);
  --color-white: #ededed;
  --color-fade: #edededc3;
  --color-black: black;
}


/* main */
/* main */
/* main */
#plan-body {
  display: flex;
  justify-content: center;
}
#plan-main {
  text-align: center;
  max-width: 1000px;
  min-width: 320px;
  letter-spacing: 0.03rem;
  background-color: var(--color-white);
  padding: 25px;
}
/* hero */
/* hero */
/* hero */
#plan-hero {
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/images/hero.jpg);
    background-size: cover;
    background-position: center;
}
#plan-hero h1{
    background-color:var(--color-fade);
    width: 100%;
    padding: 10px;
    text-shadow: 1px 1px 1px white;
}
/* Q & A */
/* Q & A */
/* Q & A */
#goal {
    font-size: larger;
    font-weight: bolder;
    padding-top: 15px;
}
.answers {
    background-color: var(--color-highlight);
    padding: 20px;
    display: flex;
    justify-content: flex-start;
}
.question {
    font-weight: bold;
    padding-top: 15px;
}