/* global */
/* global */
/* global */
:root {
  --color-goldenrod: gold;
  --color-highlight: rgba(205, 230, 236, 0.715);
  --color-white: #ededed;
  --color-black: black;
}
* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
#main-body {
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 0.25em;
  background-color: var(--color-white);
}
#page {
  padding: 20px 0;
  background-color: var(--color-white);
  font-weight: bolder;
}
/* hero */
/* hero */
/* hero */
#logo {
  display: flex;
  justify-content: center;
}
#profile {
  width: 200px;
  height: 220px;
  margin: 10px;
  background-image: url(/images/livi.jpg);
  background-size: contain;
  background-position: center;
  border-radius: 110%;
}
#logo div {
  padding: 20px;
}
#welcome-container {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* nav-bar */
/* nav-bar */
/* nav-bar */
#main-nav  {
  border-top: 2px solid var(--color-black);
  border-bottom: 2px solid var(--color-black);
  display: flex;
  justify-content: center;
  margin: 5px 10vw;
}
#main-nav div {
  width: 250px;
  height: 50px;
  display: inherit;
  justify-content: center;
  align-items: center;
}
#main-nav a {
  color: var(--color-black);
  text-transform: uppercase;
  text-decoration: none;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 50px;
}
#main-nav a:hover {
  background-color: var(--color-highlight);
  font-size: 110%;
  text-shadow: -1px -1px 1px var(--color-goldenrod);
}
/* img container */
/* img container */
/* img container */
#main-img-container, 
#second-img-container,
#third-img-container {
  display: flex;
  margin: 20px 10vw;
}
.img-container {
  width: 30vw;
  height: 25vh;
  background-image: url(/images/placeholder.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.img-container a {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 18;
  text-decoration: none;
  color: var(--color-highlight);
  text-shadow: 1px 2px black;
}
.img-container a:hover {
  border: 2px solid var(--color-black);
  color: var(--color-white);
  background-color: rgba(0, 0, 0, 0.137);
}
main p {
  text-align: center;
  padding: 10px;
}

/* about content */
/* about content */
/* about content */
#about-content {
  display: none;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-highlight);
  padding: 10px 10vw;
  letter-spacing: 0.1rem;
  text-align: left;
}
#about-content p {
  text-align: left;
  padding-left: 150px;
  padding-right: 150px;
  font-weight: 100;
}
#second-img-container,
#third-img-container {
  display: none;
}
/* contact */
/* contact */
/* contact */
#contact {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-highlight);
  padding-bottom: 5vh;
}
#contact h2 {
  background-color: var(--color-highlight);
  width: 100%;
  text-align: center;
  padding: 20px 0 10px 0;
}
.fa {
  padding: 20px;
  font-size: 30px;
  /* width: 50px; */
  margin: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border: 2px solid;
  border-radius: 20px;
}
.fa-facebook:hover {
  background: #3B5998;
  color: white;
}
.fa-google:hover  {
  background: #dd4b39;
  color: white;
}
.fa-linkedin:hover  {
  background: #007bb5;
  color: white;
}
.fa-youtube:hover  {
  background: #bb0000;
  color: white;
}
.fa-instagram:hover  {
  background: #125688;
  color: white;
}
.fa-snapchat-ghost:hover  {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}



