* {
  margin: 0;
  font-family: sans-serif, monospace;
  box-sizing: border-box;
}
:root {
  --color-aqua: rgb(105, 230, 230);
}
a {
    color: goldenrod;
    text-decoration: none;
    padding: 2px;
}
/* Nav Bar Section */
/* Nav Bar Section */
/* Nav Bar Section */
#nav-bar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--color-aqua);
  position: fixed;
}
#nav-bar a {
  background-color: black;
  margin-right: 50px;
  color: blanchedalmond;
}
#nav-bar a:hover {
  background-color: var(--color-aqua);
}
/* Hero Section */
/* Hero Section */
/* Hero Section */
#hero {
  width: 100%;
  height: 70vh;
  background-image: url(/images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 1px black;
}
.hero-background {
  background-color: rgba(128, 128, 128, 0.396);
  padding: 50px;
  border-radius: 20px;
  text-align: center;
}
.hero-background p {
  font-size: 1.2rem;
  color: var(--color-aqua);
  font-weight: 565;
}
#welcome {
    font-size: 2.3rem;
}
h1 {
  font-size: 3rem;
  font-weight: 950;
}
/* About Section */
/* About Section */
/* About Section */
#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--color-aqua);
  padding: 20px;
  height: 24vh;
}
#about h2 {
  font-size: 2.3rem;
  padding-bottom: 2px;
  font-weight: 850;
  border-bottom: 2px solid;
}
@media (max-width: 600px) {
  p,
  h1,
  h2,
  a {
    font-size: large;
    font-weight: 200;
  }
}
#about div {
    padding-top: 15px;
}

/* Blog Section  */
/* Blog Section  */
/* Blog Section  */
#blog {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 25px;
}
.blog-boxs-img {
  color: var(--color-aqua);
  text-shadow: 1px 1px black;
  width: 20vw;
  height: 25vh;
  border: 1px solid black;
  background-image: url(/images/placeholder.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#blog h3 {
  background-color: black;
  width: auto;
  min-height: 5vh;
  line-height: 5vh;
}
