/* global */
/* global */
/* global */
:root {
  --color-goldenrod: gold;
  --color-highlight: rgba(205, 230, 236, 0.715);
  --color-white: #ededed;
  --color-black: black;
  --color-blue: #2d467d;
}
* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
#main-body {
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 0.25em;
  background-color: var(--color-white);
}
#page {
  padding: 20px 0;
  background-color: var(--color-white);
  font-weight: bolder;
}
/* blog nav - */
/* blog nav - */
/* blog nav - */
.blog-nav {
  position: fixed;
  left: 10px;
  margin: 15px;
  width: 60px;
  height: 60px;
}
.blog-nav img {
  width: 100%;
  height: auto;
  border-radius: 60px;
  border: 2px solid var(--color-black);
}
.blog-nav img:hover {
  border: 3px solid var(--color-highlight);
}
/* hero */
/* hero */
/* hero */
#logo {
  display: flex;
  justify-content: center;
}
#profile {
  width: 200px;
  height: 220px;
  margin: 10px;
  background-image: url(/images/livi.jpg);
  background-size: contain;
  background-position: center;
  border-radius: 110%;
}
#logo div {
  padding: 20px;
}
#welcome-container {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#lastest-blog {
  text-align: center;
  padding-top: 15px;
}
/* nav-bar */
/* nav-bar */
/* nav-bar */
#main-nav  {
  border-top: 2px solid var(--color-black);
  border-bottom: 2px solid var(--color-black);
  display: flex;
  justify-content: center;
  margin: 5px 10vw;
}
#main-nav div {
  width: 250px;
  height: 50px;
  display: inherit;
  justify-content: center;
  align-items: center;
}
#main-nav a {
  color: var(--color-black);
  text-transform: uppercase;
  text-decoration: none;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 50px;
}
#main-nav a:hover {
  background-color: var(--color-highlight);
  font-size: 110%;
  text-shadow: -1px -1px 1px var(--color-goldenrod);
}
#to-top {
  display: none;
}
/* img container */
/* img container */
/* img container */
/* #main-img-container,  */
.flex,
#second-img-container,
#third-img-container,
#sprint-img-container {
  display: flex;
  margin: 20px 10vw;
}
.img-container {
  width: 30vw;
  height: 35vh;
  background-image: url(/images/placeholder.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.img-container a {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 18;
  text-decoration: none;
  color: var(--color-highlight);
  text-shadow: 1px 2px black;
}
.img-container a:hover {
  border: 2px solid var(--color-black);
  color: var(--color-white);
  background-color: rgba(0, 0, 0, 0.137);
}
#main p {
  text-align: center;
  padding: 10px;
}
/* image container */
/* image container */
/* image container */
#img-one {
  background-image: url(/images/placeholders/problem-solving.jpg);
}
#img-two {
  background-image: url(/images/placeholders/neuroplasticity.jpg);
}
#img-three {
  background-image: url(/images/placeholders/js-dom.jpeg);
}
#img-sprint-one {
  background-image: url(/images/placeholders/sprint-one.jpg);
}
#img-sprint-two {
  background-image: url(/images/placeholders/sprint-two.jpg);
}
#img-sprint-three {
  background-image: url(/images/placeholders/sprint-three.jpg);
}
#img-id-value {
  background-image: url(/images/placeholders/id-value.jpg);
}
#img-learning-plan {
  background-image: url(/images/placeholders/learning-plan.jpg);
}
#img-emotional-intelligence {
  background-image: url(/images/placeholders/emotional-intelligence.jpg);
}
#img-techdoc {
  background-image: url(/images/placeholders/texh-doc.jfif);
}
#img-template {
  background-image: url(/images/placeholders/template.png);
}
#img-dom {
  background-image: url(/images/placeholders/js-dom-img.jpg);
}
#about-img-container {
  width: 200px;
  height: 300px;
  background-image: url(/images/young-livi.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
/* about content */
/* about content */
/* about content */
#about-content {
  display: none;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-highlight);
  padding: 10px 10vw;
  letter-spacing: 0.07rem;
}
#about-content p {
  text-align: left;
  /* padding-left: 150px; */
  padding-right: 50px;
  font-weight: 100;
}
#second-img-container,
#third-img-container,
#about-content,
#contact {
  display: none;
}
#about-float-left {
  width: 100%;
}
/* contact */
/* contact */
/* contact */
#contact {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-highlight);
  padding-bottom: 5vh;
}
#contact h2 {
  background-color: var(--color-highlight);
  width: 100%;
  text-align: center;
  padding: 20px 0 10px 0;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 80px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border: 2px solid;
  border-radius: 20px;
}
.fa-facebook:hover {
  background: #3B5998;
  color: white;
}
.fa-google:hover  {
  background: #dd4b39;
  color: white;
}
.fa-linkedin:hover  {
  background: #007bb5;
  color: white;
}
.fa-youtube:hover  {
  background: #bb0000;
  color: white;
}
.fa-instagram:hover  {
  background: #125688;
  color: white;
}
.fa-snapchat-ghost:hover  {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/* responsive */
/* responsive */
/* responsive */
@media (max-width: 750px) {
  #welcome-container {
    background-color: var(--color-highlight);
  }
  #profile {
    width: 220px;
    height: 220px;
  }
  #main-nav {
    border: none;
  }
  #main-nav a {
    margin: 10px;
    letter-spacing: 0.02rem;
    box-shadow: 2px 2px 2px 1px var(--color-blue);
  }
}
@media (max-width: 650px) {
  #main-nav a {
    font-size: 13px;
  }

}
  @media (max-width: 420px) {
  #profile {
    display: none;
  }
  #profile {
    max-width: 120px;
    max-height: 120px;
  }
  #welcome-container {
    background-color: var(--color-blue);
    color: var(--color-white);
    text-align: center;
    width: 100vw;
    height: 25vh;
    letter-spacing: 0.02px;
  }
  #main {
    color: var(--color-white);
    padding-top: 10px;
    background-color: var(--color-blue);
  }
  #main-nav {
    display: flex;
    flex-direction: column;
    width: 80vw;
  }
  
  #main-nav div {
    width: 80vw;
  }
  #main-nav a {
    border-bottom: 1px solid var(--color-black);
    box-shadow: none;
    width: 95%;
    font-weight: 700;
  }
  #main-img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img-container {
    padding: 0;
    margin: 0;
  }
  #main-img-container div {
    width: 100%;
  }
  #about-content {
    flex-direction: column;
  }
  #about-content p {
    padding: 5px;
    color: var(--color-black);
  }
  #to-top {
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: var(--color-highlight);
  }
  #second-img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #second-img-container div {
    width: 80vw;;
  }
  #third-img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #third-img-container div {
    width: 80vw;;
  }
}

